body {
	font-family: 'Allerta', sans-serif;
}

.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
}
.tittle-a {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}
.tittle-b {
	font-size: 50px;
}

.guitarras {
	color: #1f313c;
}
.guitarra h2 {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.portada {
	background-image: url("../images/background.png");
	color: white;
}

.menu {
	font-size: 24px;
	display: inline-block;
}

.logo {
	display: inline-block;
}

.menu li {
	display: inline-block;
}